body {
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #000000, #2c0030, #16003f,  #000e5a, #00212e, #002e1c, #053600, #0f633c, #41005f, #000000, #000000);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: fondAnime 30s cubic-bezier(1, 0.36, 0, 0.59) infinite;
}

/* .cursus { à réactiver après peut être
  margin: 0;
  padding: 0;
  background: linear-gradient(45deg, #ffffff,  #00b7ff, #00ff37, #bbff00, #ffee00, #ffffff);
  background-size: 400% 400%;
  background-attachment: fixed;
  animation: fondAnime 30s cubic-bezier(1, 0.36, 0, 0.59) infinite;
} */

#fond-anime {
  position: relative; /*ça marche enfin ptn */
  z-index: 1; 
}
  
@keyframes fondAnime {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}


/* Taille texte navbar */
.navbar-nav .nav-link {
    font-size: 50px;
}

/* Partie projet*/
.carousel-inner img {
  max-height: 100%;
  width: auto;
}



/*Formulaire de contact*/
.form-control::placeholder {/*bon ff à régler plus tard ou à tej nsm*/
    color: #ffffff; 
    opacity: 0.5;
}